.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.rdrInRange {
  color: #E1F1FB !important;
  opacity: 1;
}
.rdrDay .rdrDayNumber span {
  color: black !important;
}
.rdrDayToday:not(.rdrDayPassive) .rdrStartEdge ~ .rdrDayNumber span:after {
  background: #D91A26 !important;
}
.rdrDayToday .rdrDayNumber span:after {
  background: #D91A26 !important;
  height: 4px !important;
  width: 4px !important;
  bottom: 0px !important;
  border-radius: 50px !important;
}
.rdrStaticRangeLabel {
  color: #098FDB;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 600;
  line-height: 16px !important;
  letter-spacing: 0.156px !important;
}
.rdrInputRangeInput {
  color: #098FDB;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 600;
  line-height: 16px !important;
  letter-spacing: 0.156px !important;
}
.rdrInputRange span {
  color: #098FDB;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 600;
  line-height: 16px !important;
  letter-spacing: 0.156px !important;
}
.rdrMonthName {
  color: #098FDB !important;
}
.rdrWeekDay {
  color: #414141 !important;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 600 !important;
}
.rdrMonthAndYearPickers select {
  font-family: 'Open Sans' !important;
  color: #414141 !important;
}
/* .rdrStartEdge {
  border-bottom-right-radius: 1.042em;
  border-top-right-radius: 1.042em;
} */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
